.header{
    width: 100%;
    cursor: pointer;
    position: fixed;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    background-color: rgb(71, 145, 247);
    font-family: "Montserrat", sans-serif;
    font-size: 5vw;
    padding-bottom: 15px;
    box-shadow: 0px 1px 5px black;
    color: rgb(105, 245, 252);
    z-index: 100;
}
@media (max-width: 1000px) {
    .header {
        padding-top: 3vw;
        font-size: 6.4vw;
    }    
}